services:
  database:
    image: mysql:8
    restart: always
    container_name: database
    environment:
      MYSQL_DATABASE: 'start-kit-db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - "3306:3306"
    volumes:
      - start_kit_db:/var/lib/mysql
    networks:
      - app_net
networks:
  app_net:
    driver: bridge
volumes:
  start_kit_db: